
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


:root {
    --MainColor: #009d95 ;
    --white: white;
    --pink: pink;
    --brown: rgb(132, 81, 11);
    --fontLight:300;
    --fontRegular:400;
    --fontBold:700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Mis CSS*/

body{
    font-family: "Lato", sans-serif;
    font-weight: var(--fontRegular);
    font-style: normal;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: white;
}

.logo img{
    width: 275px;
    height: 48px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.categories a {
    color: var(--MainColor);
    text-decoration: none;
}

.lang{
    width: 100px;
    height: 50px;
    background-color: var(--pink);
}

.masthead {
    position: relative;
}

.masthead img{
    width: 100%;
    filter: brightness(70%);
}

.masthead article{
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding: 20px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.193);
}

.masthead article p{
    font-size: 16px;
    font-weight: var(--fontLight);
    margin-bottom: 10px;
}

.masthead article h2{
    font-size: 20px;
    font-weight: var(--fontBold);
    margin-bottom: 20px;
}

.masthead article button {
    padding: 10px;
    background-color: var(--pink);
    border: none;
    font-weight: var(--fontBold);
}

@media (max-width: 768px) {
    .masthead article {
        position: static;
        background-color: var(--brown);
    }

    .degradado {
        position: absolute;
        left:0px;
        bottom: 141px;
        background: linear-gradient(180deg,rgba(119,91,51,0)0%,rgb(132, 81, 11) 100%);
        width: 100%;
        height: 70px;   
    }

}

@media (max-width:600px) {
    .ham{
        display: block;
    }
    .categories {
        display: none;
    }
}